@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    height: 84px;
    width: 1110px;
    margin-bottom: 150px;

}

.contact-item {
    height: 84px;
    width: 367px;
}

.contact-content {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    color: #33323D;
}

.contact-button {
    height: 48px;
    width: 168px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;


    background-color: #fafafa;
    color: #33323D;

}

.contact-button:hover {
    background-color: #33323D;
    color: #FAFAFA;


}