@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../../css/global.css);
@import url(../../css/header.css);
@import url(../../css/footer.css);
@import url(../../css/contact.css);

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.img-hero {
    width: 1110px;
    height: 500px;
    margin-bottom: 115px;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 1110px;
    height: 1192px;
    margin-bottom: 64px;
}

.content-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 350px;
    height: 498px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.title-aside {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.paragraph-aside {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    mix-blend-mode: normal;
    opacity: 0.8;
    color: #33323D;

}

.button-aside {
    width: 178px;
    height: 48px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

.anchor-aside {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #5FB4A2;
}

.informations-project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 635px;
    height: 1192px;

}

.title-informations-project {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;

    color: #33323D;
}

.content-informations-project {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;

    color: #33323D;
}

.img-informations-project {
    width: 635px;
    height: 400px;
}

.back-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
    height: 132px;
    margin-bottom: 115px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.back-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 162px;
    height: 66px;
}

.next-project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 178px;
    height: 66px;
}

.title-back-next {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px;

    color: #33323D;
}

.paragraph-back-next {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    mix-blend-mode: normal;
    opacity: 0.5;
    color: #33323D;


}