@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../../css/global.css);
@import url(../../css/header.css);
@import url(../../css/footer.css);
@import url(../../css/contact.css);

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.project-normal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
    height: 500px;
    margin-bottom: 80px;
}

.img-project {
    width: 540px;
    height: 500px;

}

.content-project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 350px;
    height: 500px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.title-project {
    letter-spacing: -0.357143px;

    font-family: 'Ibarra Real Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    color: #33323D;
}

.paragraph-project {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    mix-blend-mode: normal;
    opacity: 0.8;

    color: #33323D;
}

.project-button {
    height: 48px;
    width: 175px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;

}

.project-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
    height: 500px;
    margin-bottom: 80px;
}